
body {
	color: #636363;
}

.pointer {
	cursor: pointer;
}

.scrollable-content {
	background-color: #ffffff;
}

.fill-main {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 273px;
    top: 0;
}

.right-stacked {
	float: right;
	clear: right;
}

.left-stacked {
	float: left;
	clear: left;
}

.clear-both {
	clear: both;
}

.center {
    text-align: center;
}

.vmiddle-container {
	position: absolute;
	top: 0;
	bottom: 0;
}
.vmiddle {
  display: table-cell;
  vertical-align: middle;
}

.none {
	display: none;
}

.show {
	display: block;
}

.app-content {
	background-color: #fff;	
}

.overlay .overlay-inner > .overlay-content {
	color: #444;
}

.equationbar {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  padding: 4px;
}

.equation {
    font-size: 34px;
    height: 40px;
    /*
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    */
    margin: auto;
}

#last-attempt {
    padding-right: 60px;
}
.correct {
    background: url(../images/correct-32.png) no-repeat top right;
}
.incorrect {
    background: url(../images/incorrect-32.png) no-repeat top right;
}

.keypad {
	background-color: #f7f7f7;
	border-top: 1px solid #cccccc;
}

.keypad div div.btn-default {
	margin: 6px;
	font-size: 30px;
	display: block;
	color: #6e6e6e;
}

.keypad .placeholder {
	padding-left: 6px;
	margin-left: 6px;
	padding-right: 6px;
	margin-right: 6px;
}

.keypad .placeholder div {
	padding-left: 6px;
	margin-left: 6px;
	padding-right: 6px;
	margin-right: 6px;
}